:root {
    --font-size: 22px;
}
* {
    text-decoration: none;
    list-style: none;
    color:#414141;
}
body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    position: fixed;
    background-color: rgba(197, 181, 181, 0.9);
    width: 100%;
    top: 0;
    z-index: 10;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}
header .container {
    height: 100%;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}
.header-fixed {
    height: 35px;
    /* font-size: 15px; */
}
header nav ul{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}
header nav ul li {
    padding: 0 8px;
    margin: 0 6px

}
header nav ul li a{
    font-size: inherit;
}
main {
    margin-top: 50px;
}
#hero {
    display: flex;
    margin-bottom: 50px;
    background-color: rgba(197, 181, 181, 0.9);
}
#hero figure {
    width: 40%;
    display: flex;
    justify-content: center;
    height: auto;
    margin : 0;
}
#hero figure img{
    border: 10px solid rgba(150, 150, 150, 0.2);
}
#hero div {
    width: 60%;
    display: flex;
    padding: 30px 0 30px 20px;
}
#hero div p {
    font-size: 40px;
}

#about {
    display: flex;
    margin-bottom: 50px;
}
#about .about_description,
#about .about_tecnologies {
    width: 50%;
}
.about_description p {
    font-size: 20px;
    padding: 10px 20px 10px 10px;
}
.tecnology{
    position: relative;
}
.tecnology_description {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.tecnology_percent{
    height: 5px;
    background-color: gray;
    position: relative;
}
.percent {
    content: '';
    position: absolute;
    left:0;
    height: 5px;
    background-color: blue;
    z-index: 1;
}
.html {
    width: 80%;
}
.css {
    width: 50%;
}
.js {
    width: 40%;
}
.react {
    width: 40%;
}
.redux {
    width: 20%;
}
.projects_container {
    display: grid;
    grid-template: 250px 250px / 1fr 1fr 1fr;
    grid-gap: 20px;
}
#project1 {
    background-image: url('/img/Simon_dice.jpg');
}
#project2 {
    background-image: url('/img/platzi_conf.png');
}
#project3 {
    background-image: url('/img/rickandmorty.jpg');
}
#project4 {
    background-image: url('/img/clon_google.jpg');
}
#project5 {
    background-image: url('./img/FB_IMG_1593315626780.jpg');
}
#project6 {
    background-image: url('./img/FB_IMG_1593315626780.jpg');
}
.project {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project {
    /* display: none; */
    /* opacity: .8; */
    position: relative;
    color: rgba(150, 150, 150, 0);
    background-position: center;
    background-size: cover;
}
.project_details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.project_details h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}
.project_details p {
    margin-top: 5px;
    padding: 0 40px;
    font-size: 18px;
}
.project_details_hover{
    /* display: flex; */
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
}
.comodin_overlay {
    position: absolute;
    background-color: none;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#footer {
    margin-top: 30px;
    background-color: #056fff;
}
#footer .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#footer div p {
    color: white;
}
.form_container {
    padding: 10px 0px;
    display: flex;
}
.form_container p {
    font-size: 25px;
    font-weight: 500;
    padding-right: 30px;
}
.input_container {
    display: flex;
    align-items: center;
    
}
.input_container input {
    border: none;
    outline: none;
    padding-left: 25px;
    background-image: url('/img/envelope.svg');
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 15px;
    height: 20px;
    border-radius: 5px;
}
.img_email {
    padding-left: 5px;
    width: 15px;
}
.email_link {
    margin-left: 10px;
    padding: 4px 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid gray;
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.75);
    background-color: none;
    font-weight: 400;
}
.links_container {
    padding: 20px 0px 20px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img_redes {
    width: 40px;
    padding-left: 20px;
}


.overlay {
    display: none;
    background-color: rgba(56, 133, 196, 0.4);
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}
.modal {
    display: none;
    background-color: rgb(215, 219, 172);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    margin: 3% 17%;
    width: 700px;
    height: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 1px 20px 0px rgba(0,0,0,0.75);

}
.displayNone {
    display: none;
}
.displayBlock {
    display: block; 
}
.modal_title {
    font-weight: bold;
    font-size: 40px;
}
.modal_content {
    display: flex;
    text-align: left;
}
.modal_img{
    width: 260px;
    margin: 10px;
}
.modal_description{
    padding-right: 20px;
    padding-left: 10px;
    font-size: 20px;
}
.button {
    margin-top: 30px;
    padding: 10px 15px;
}
.button:hover {
    cursor: pointer;
}
#modal_goButton{
    background-color: rgba(108, 250, 79, 0.2);
}
#modal_closeButton{
    background-color: rgb(236, 30, 30);
    color: white;
}