:root {
    --font-size: 22px;
    --monserrat: 'Montserrat', sans-serif;
    --ruso: 'Russo One', sans-serif;
    --josefin: 'Josefin Slab', serif;

}
* {
    text-decoration: none;
    list-style: none;
    color:#414141;
    font-family: var(--monserrat);
}
body {
    margin: 0;
    padding: 0;
    /* margin: 0 auto; */
    overflow-x: hidden;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
#img_menu{
    display: none;
    margin: 10px;
    padding: 10px;
    background-color: #31828a86;
    border-radius: 50%;
}
header {
    position: fixed;
    background-color: rgba(96, 168, 161, 0.8);
    width: 100%;
    top: 0;
    z-index: 10;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}
header .container {
    height: 100%;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}
.header-fixed {
    height: 35px;
    /* font-size: 15px; */
}
header nav {
    height: 100%;
}
header nav ul{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    height: 100%;
}
header nav ul li {
    padding: 0 8px;
    margin: 0 6px;
    font-size: 20px;
}
header nav ul li a{
    font-size: inherit;
    font-family: var(--monserrat);
    height: 100%;
    padding: auto;
    display: flex;
    align-items: center;
    
    /* font-weight: bold; */
}
header nav ul li a:hover {
    color: rgb(43, 73, 129);
    font-weight: bold;
    font-size: 21px;
}

main {
    margin-top: 50px;
}
#hero {
    display: flex;
    margin-bottom: 50px;
    width: 100vw;
    background-image: url('img/pexels-photo-1103970.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    flex-wrap: wrap;
}

#hero figure {
    display: flex;
    justify-content: center;
    margin : 0;
}
#hero figure img{
    height: 600px;
    width: auto;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    margin: 20px auto 40px auto;
}

#hero .hero_description {
    padding-top: 50px;
    padding-left: 15px;
    width: 50%;
}
.hero_description1{
    font-family: var(--ruso);
    font-size: 50px;
}
.hero_description2 {
    display: block;
    padding-top: 30px;
    font-family: var(--monserrat);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3em;
}

#about {
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
}
#about .about_description,
#about .about_tecnologies {
    width: 50%;
}
.about_description p {
    font-size: 20px;
    padding: 10px 20px 10px 0px;
}
.tecnology{
    position: relative;
}
.tecnology_description {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.tecnology_percent{
    height: 5px;
    background-color: gray;
    position: relative;
}
.percent {
    content: '';
    position: absolute;
    left:0;
    height: 5px;
    background-color: #7bc1c5;
    z-index: 1;
}
.html {
    width: 80%;
}
.css {
    width: 50%;
}
.js {
    width: 40%;
}
.react {
    width: 40%;
}
.redux {
    width: 20%;
}
#projects{
    margin-top: 100px;
    margin-bottom: 100px;
}
.projects_container {
    display: grid;
    grid-template: 250px 250px/ 1fr 1fr;
    grid-gap: 50px;
    
}
#project1 {
    background-image: url('img/Premium.jpg');
}
#project2 {
    background-image: url('img/Simon_dice.jpg');
}
#project3 {
    background-image: url('img/platzi_conf.png');
}
#project4 {
    background-image: url('img/rickandmorty.jpg');
}
/* #project5 {
    background-image: url('img/clon_google.jpg');
}
#project6 {
    background-image: url('img/FB_IMG_1593315626780.jpg');
}
#project7 {
    background-image: url('img/FB_IMG_1593315626780.jpg');
} */
.project {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project {
    /* display: none; */
    /* opacity: .8; */
    position: relative;
    color: rgba(150, 150, 150, 0);
    background-position: center;
    background-size: cover;
}
.project_details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.project_details h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}
.project_details p {
    margin-top: 5px;
    padding: 0 40px;
    font-size: 18px;
}
.project_details_hover{
    /* display: flex; */
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid rgb(143, 143, 143);
    
}
.comodin_overlay {
    position: absolute;
    background-color: none;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.comodin_overlay:hover{
    cursor: pointer;
}

#footer {
    margin-top: 30px;
    background-color: #246268;
}
#footer .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* padding-bottom: 10px; */
    /* margin-bottom: 20px; */
}
#footer div p {
    color: white;
    margin: 5px auto;
    padding: 10px;
}
.form_container {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.form_container p {
    font-size: 25px;
    font-weight: 500;
    /* padding-right: 30px; */
    margin: 20px auto;
}
.input_container {
    display: flex;
    align-items: center;
    padding: 10px 10px 20px 10px;
    
}
.input_container input {
    border: none;
    outline: none;
    padding-left: 25px;
    background-image: url('img/whatssapp.jpg');
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 15px;
    height: 20px;
    border-radius: 5px;
}
.img_email {
    padding-left: 5px;
    width: 15px;
}
.email_link {
    margin-left: 10px;
    padding: 4px 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid gray;
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.75);
    background-color: none;
    font-weight: 400;
}
.email_link:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);

}
.links_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_redes {
    width: 40px;
    padding: 0px 10px;
}


.overlay {
    display: none;
    background-color: rgba(3, 3, 3, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}
.modal {
    display: none;
    background-color: rgb(87, 111, 112);
    position: fixed;
    z-index: 201;
    top: 5vh;
    left: 20%;
    margin: auto;
    width: 60%;
    /* height: 500px; */
    text-align: center;
    /* border-radius: 10px; */
    box-shadow: 2px 1px 20px 0px rgba(0,0,0,0.75);
    overflow: auto;
}
#x {
    position: absolute;
    right: 0;
    text-align: right; 
    margin: 0 0 0 auto;
    padding: 5px 8px;
    background-color: rgba(255,255,255,0.15);
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#x:hover {
    cursor: pointer;
    font-size: 28px;
}
.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
.modal_title {
    font-weight: bold;
    font-size: 40px;
    font-family: var(--ruso);
    margin-bottom: 25px;
    margin-top: 50px;
    color: rgb(252, 205, 205);
    
}
.modal_content {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
}
.modal_img{
    border-radius: 10px;
    width: 40%;
    margin: 10px;
    object-fit: cover;
    position: center center;
}
.modal_description{
    padding-right: 20px;
    padding-left: 10px;
    font-size: 20px;
    width: 40%;
    color: rgb(230, 224, 251);
}
.button {
    margin-top: 40px;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 50px;
}
.button:hover {
    cursor: pointer;
}
#modal_goButton{
    background-color: rgb(51, 54, 51);
    margin-right: 50px;
    color: white;
}
#modal_closeButton{
    background-color: rgb(51, 54, 51);
    color: white;
}

/* Clases para el hamburger menu */
.header-fullscrean {
    display: flex !important;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 199;
    background-color: rgba(96, 168, 161, 0.8);
}
.ul-fullscrean {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-container {
    width: 100% !important;
    justify-content: center;
}
.menu-elemento_variante {
    font-size: 28px;
    font-weight: bolder;
    padding: 10px;
}